body {
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.topnav {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: right;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

.topnav li a:hover:not(.active) {
    background-color:grey ;
}


@media screen and (max-width: 600px) {
    .topnav li{
        float: none;
        font-size: 15px;
        padding: 0;
    } 
}

.section1 {
    height: 100vh;
    padding-bottom: 60px;
}

.section3 {
    height: fit-content;
}

.section2 {
    height: fit-content;
    padding: 20px;
}

.section4 {
    height: fit-content;
    padding-bottom: 60px;
}

.section5 {
    height: 40vh;
}

@media screen and (max-width: 768px) {
     .body {
        font-size: 17px;
     }
}

.card{
    flex: 1;
    padding: 20px;
    background-color: black;
    border-radius: 5px;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .section3 {
        height: auto;
        padding-bottom: 60px;
    }
    .card {
        width: 70%;
        height: 350px;
        margin: 60px;
    }  
    .row {
        display: block;
        align-items: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
    .section3 {
        height: auto;
        padding-bottom: 60px;
    }

    .card {
        width: 90%;
        height: 500px;
        margin: 60px;
    }

    .row {
        align-items: center;
    }
}

@media screen and (min-width:991px) and (max-width: 1200px) {
    .section3 {
        height: auto;
            padding-bottom: 60px;
    }

    .card {
        width: 90%;
        height: 360px;
        margin: 60px;
    }

    .row {
        align-items: center;
    }
}

@media screen and (min-width: 1201px)  {
    .section3 {
        height: auto;
            padding-bottom: 60px;
    }

    .card {
        width: 60%;
        height: 390px;
        margin: 60px;
    }

    .row {
        justify-content: center;
    }
}

.footer {
        text-align: center;
        padding: 10px;
}

#sec1img {
    max-width: 50%;
    height: auto;
    float: left;
    margin: 30px;
}

.greeting {
    padding-left: 90px;   
    padding-top: 40px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    font-size: 50px;
}

.container {
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .greeting {
        font-size: 30px;
    }
    .section1{
        height: 70vh;
    }
    .section2 {
        height: auto;
    }
}

.section1 {
    background-image: url('pers4.webp');
    background-size: cover;
    background-position: center;
    
}

.section3 {
    position: relative;
}
.section3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('pers10.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    background-repeat: no-repeat;
}


.section4 {
    position: relative;
}

.section4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('pers4.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    background-repeat: no-repeat;
}
h3 {
    text-decoration: underline;
    text-align: center;
    color: white;
}

.section3,
.section4 p {
    color: white;
}

.project-link {
    display: inline-block;
    padding: 10px 16px;
    background-color: #8d8c8c;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.project-link:hover {
    background-color: #333;
}

#contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .social-icons {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

#contact .social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 37px;
    margin-right: 10px;
}

#contact .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: transparent;
}

#contact .social-icons a.twitter-icon {
    color: rgb(41, 150, 240);
}

#contact .social-icons a.linkedin-icon {
    color: blue;
}

#contact .social-icons a.github-icon {
    color: black;
}