body {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
  
}

.topnav {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: right;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

.topnav li a:hover:not(.active) {
    background-color:grey ;
}


@media screen and (max-width: 600px) {
    .topnav li{
        float: none;
    } 
}

.section1 {
    height: 100vh;
    padding-bottom: 60px;
}
.section3 {
    height: fit-content;
}
.section2 {
    height: 50vh;
}
.section4 {
    height: 30vh;
}

@media screen and (max-width: 768px) {
     .body {
        font-size: 15px;
     }
}

.card{
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.row {
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 767px) {
    .section3 {
        height: auto;
        padding-bottom: 60px;
    }
    .card {
        width: 70%;
        height: 350px;
        margin: 60px;
    }  
    .row {
        display: block;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .section3 {
        height: auto;
        padding-bottom: 60px;
    }
    .card {
        width: 70%;
        height: 350px;
        margin: 60px;
    }  
    .row {
        display: block;
        align-items: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
    .section3 {
        height: auto;
        padding-bottom: 60px;
    }

    .card {
        width: 90%;
        height: 700px;
        margin: 60px;
    }

    .row {
        align-items: center;
    }
}

@media screen and (min-width:991px) and (max-width: 1200px) {
    .section3 {
        height: auto;
            padding-bottom: 60px;
    }

    .card {
        width: 90%;
        height: 390px;
        margin: 60px;
    }

    .row {
        align-items: center;
    }
}

@media screen and (min-width: 1201px)  {
    .section3 {
        height: auto;
            padding-bottom: 60px;
    }

    .card {
        width: 60%;
        height: 390px;
        margin: 60px;
    }

    .row {
        justify-content: center;
    }
}

.footer {
        text-align: center;
        padding: 10px;
}

#sec1img {
    max-width: 50%;
    height: auto;
    float: left;
    margin: 30px;
}

.greeting {
    padding-left: 90px;   
    padding-top: 40px;
    font-size: 30px;
    font-weight: bolder;
}

.container {
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .greeting {
        font-size: 15px;
    }
    .section1{
        height: 70vh;
    }
}